body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/abs-1850926_1920.jpg');
    background-position-x: 156px;
}
.left{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 34px;
}
.left img{
    width: 111px;
    height: 96px;
}
.mid{
    display: block;
    width: 40%;
    margin: 20px auto;
}
.right{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 34px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 15px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 15px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: gold;
}
#fit{
    color: rgb(236, 205, 30);
    text-align: center;
    line-height: 3;
    font-size: 23px;
}
.btn{
    margin: 0px 9px;
    color: honeydew;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 9px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(184, 174, 174);
}
*{
    font-family: 'Viga', sans-serif;
}
.container{
    border: 5px solid #30f3f8;
    margin: 202px 26px;
    padding: 8px 6px;
    border-radius: 11px;
    width: 29%;
}
.formg input{
    text-align: center;
    display: block;
    width: 338px;
    padding: 3px;
    border: 3px solid black;
    margin: 11px auto;
    font-size: 19px;
}
.container h1{
    text-align: center;
    font-size: 21px;
}
.container button{
    display: block;
    margin: auto;
    width: 23%;
}